doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 You accessed this page via GET request
    p ID passed 
    p= output
    block content